files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_start_ngrok.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      /usr/local/bin/ngrok config add-authtoken 2gaOIvBGVhOYYZA0nz9CteALxkx_64BX4uKF4VqMH3NXsFw7e
      /usr/local/bin/ngrok http 80 --log=stdout > /var/log/ngrok.log 2>&1 &

container_commands:
  01_run_ngrok:
    command: "/opt/elasticbeanstalk/hooks/appdeploy/post/99_start_ngrok.sh"
    leader_only: true
